/* Importando fontes */
@font-face { 
    font-family: 'PopinsMedium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face { 
    font-family: 'PopinsRegular';
    src: url(../fonts/Poppins-Regular.otf);
}

/* ------------------------------------ */
/* Criando variáveis, paletas de cores */
:root { 
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #4f4f4f;
    --color-text-out: #90908e; /* variação do text */
    --color-primary: #ffbf00;
    --color-primary-out: #ffda6f; /* variação do primary */
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
    --color-input-out: #ececec;
}


/* -------------------*/
/* Classes globais */
html, body {
    font-family: 'PopinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
}

b {
    font-family: 'PopinsMedium', 'Rubik', sans-serif;
}


/* ---------------------*/
/* Top da Lading Page */
.bg-top  {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: var(--color-secondary);
}

/* ---------- */
/* Cabeçalho */
.width-fix {
    width: calc(100% - 20px); /* calculando o tamanho, 100% da tela - 20px diminuir o elemento*/
    max-width: 800px;
    margin: 0 auto; /* Alinhando da div, ao centro */
}

.card {
    border-radius: 20px;
    padding: 15px 20px; /* Descolar da borda */
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)!important; /* Trazendo a sombra para o card */
    border: none!important;
}

.container-img {
    width: 95px;
    height: 75px;
    background-image: url(../img/Frango-Louco/logo2.png);
    background-size: cover; /* Ajustando a imagem */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.infos {
    flex: 1; /* Selecionando o primeiro elemento */
    display: flex;
    flex-direction: column; /* Direção do alinhamento em coluna */
    justify-content: center;
}

.infos h1 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-black);
}

.infos-sub {
    display: flex;
    justify-content: space-between; /* Espaço no meio nos elementos */
    align-items: center;
}

.status-open {
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--color-green);
}

.status-open.closed { /* Classe adicionada no JS */
    color: var(--color-red);
}

.link {
    text-decoration: none!important;
    font-size: 14px;
    color: var(--color-primary)!important;
}
