/* Importando fontes */
@font-face { 
    font-family: 'PopinsMedium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face { 
    font-family: 'PopinsRegular';
    src: url(../fonts/Poppins-Regular.otf);
}

/* ------------------------------------ */
/* Criando variáveis, paletas de cores */
:root { 
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #4f4f4f;
    --color-text-out: #90908e; /* variação do text */
    --color-primary: #ffbf00;
    --color-primary-out: #ffda6f; /* variação do primary */
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
    --color-input-out: #ececec;
}


/* -------------------*/
/* Classes globais */
html, body {
    font-family: 'PopinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
}

b {
    font-family: 'PopinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}


/* ---------------------*/
/* Top da Lading Page */
.bg-top  {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: var(--color-secondary);
}

/* ---------- */
/* Cabeçalho */
.width-fix {
    width: calc(100% - 20px); /* calculando o tamanho, 100% da tela - 20px diminuir o elemento*/
    max-width: 800px;
    margin: 0 auto; /* Alinhando da div, ao centro */
    margin-bottom: 20px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px; /* Descolar da borda */
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)!important; /* Trazendo a sombra para o card */
    border: none!important;
}

.container-img {
    width: 95px;
    height: 75px;
    background-image: url(../img/Frango-Louco/logo2.png);
    background-size: cover; /* Ajustando a imagem */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.infos {
    flex: 1; /* Selecionando o primeiro elemento */
    display: flex;
    flex-direction: column; /* Direção do alinhamento em coluna */
    justify-content: center;
}

.infos h1 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-black);
}

.infos-sub {
    display: flex;
    justify-content: space-between; /* Espaço no meio nos elementos */
    align-items: center;
}

.status-open {
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--color-green);
}

.status-open.closed { /* Classe adicionada no JS */
    color: var(--color-red);
}

.link {
    text-decoration: none!important;
    font-size: 14px;
    color: var(--color-primary)!important;
}

/* ------------------ */
/* Categorias */
section.categoria {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100; /* Sobrepõe a todo conteúdo */
    background: var(--color-background);
    width: 100%;
    padding-top: 15px;
}

.container-menu {
    margin-bottom: 30px;
    overflow-x: auto; /* Barra de rolagem na horizontal */
    overflow-y: hidden; /* Sem barra de rolagem na horizontal */ 
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.item-categoria {
    flex: none; /* não flex */
}

.btn-white {
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-sm { /* Tamanho do botão */
    padding: 8px 13px;
    border-radius: 15px;
    font-size: 16px;    
}

.btn-white:hover, .btn-white.active { /* Passar o cursor e ativar efeito */
    background-color: var(--color-primary);
}

/* --------------------- */
/* Lista das categorias */
.title-categoria {
    color: var(--color-black);
    margin-left: 5px;
}

.item-cardapio { /* Div geral dos itens */
    padding: 15px;
    cursor: pointer;
}

.container-img-produto { /* Imagem do item */
    width: 100px;
    height: 100px;
    background-repeat: no-repeat; /* Para a imagem não repetir */
    background-position: center;
    background-color: var(--color-secondary);
    border-radius: 20px;
    margin-right: 20px;
    flex: none;
}

.infos-produto { /* Informações do item */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos-produto .name {
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 0px;
}

.infos-produto .description {
    font-size: 14px;
    color: var(--color-text);
    margin-bottom: 5px;

}
.infos-produto .price {
    font-size: 16px;
    color: var(--color-primary);
    margin-bottom: 0px;
}

/* --------------- */
/* Menu de status */
.menu-bottom {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 10px;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: var(--color-secondary);
    border: 1px solid #ffe28c;
    display: flex;
    justify-content: space-around; /* Espaço entre os elementos */
    align-items: center; /* Elementos alinhamento verticalmente */
} 

.menu-bottom-item {
    text-decoration: none!important;
    color: var(--color-text-out)!important;
    font-size: 14px;
    flex: 1;
    text-align: center;
    padding: 12px;
}

.menu-bottom-item.active {
    color: var(--color-black)!important;
    font-weight: bold;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primary);
    border-radius: 50px;
}

.badge-total-carrinho {
    width: 21px;
    height: 21px;
    background-color: var(--color-primary);
    color: var(--color-black);
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding-top: 2px;
    margin-right: 2px;
} 

.menu-bottom.disabled {
    justify-content: center;
    padding: 15px;
    font-size: 18px;
}

/* ---------------------- */
/* Estilizando item.html - Detalhes do produto*/
.bg-top.details {
    height: 410px;
}

.container-voltar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
    font-size: 18px;
    color: var(--color-black)!important;
}

.container-imagem-produto {
    height: 240px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}